{% extends "base.html.twig" %}
{% block body %}
<div class="container">
  <div class="row">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Title</th>
          <th scope="col">Photo</th>
          <th scope="col">Active tables</th>
          <th scope="col">Status</th>
          <th scope="col">Edit</th>
          <th scope="col">Delete</th>
        </tr>
      </thead>
      <tbody>
        {% for restaurant in restaurants %}
        <tr>
            <td>{{restaurant.id}}</td>
            <td>{{restaurant.title}}</td>
            <td>{{restaurant.photo}}</td>
            <td>{{restaurant.tables}}</td>
            {% if restaurant.status == true %} 
                <td>Active</td>
                    {% else %}
                        <td>Inactive</td>
            {% endif %}
            <td><a href="{{ path('restaurant_edit', {'id': restaurant.id})}}">Edit</a>
          </td>
          <td>Delete</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}